<!DOCTYPE html>
<html data-mc-runtime-file-type="Topic" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" lang="en-us" xml:lang="en-us" data-mc-search-type="Stem" data-mc-help-system-file-name="Default.xml" data-mc-path-to-help-system="../../../" data-mc-target-type="WebHelp2" data-mc-preload-images="false" data-mc-in-preview-mode="false" data-mc-toc-path="">
    <!-- Masterpage for multiple paged content for Flarestrap. Create a copy of this file when creating a section of multi-paged content. 
	1 TOC snippet should be made using -->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- You cannot use self-closing tags in Flare. -->
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="shortcut icon" href="http://developer.mozu.com/sites/default/files/favicon.ico" type="image/vnd.microsoft.icon" /><title>Page title</title>
        <!-- Mozu CSS -->
        <!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.js"></script>
		<![endif]-->
        <!-- Insert Google Analytics Here -->
        <style>
			html {
			mc-master-page: url(../Masterpages/multipage.flmsp);
			}
		</style>
        <link href="../../../Skins/Default/Stylesheets/Slideshow.css" rel="stylesheet" />
        <link href="../../../Skins/Default/Stylesheets/TextEffects.css" rel="stylesheet" />
        <link href="../../../Skins/Default/Stylesheets/Topic.css" rel="stylesheet" />
        <link href="../Stylesheets/mozu-bootswatch.css" rel="stylesheet" />
        <script src="../../../Resources/Scripts/custom.modernizr.js">
        </script>
        <script src="../../../Resources/Scripts/jquery.min.js">
        </script>
        <script src="../../../Resources/Scripts/foundation.min.js">
        </script>
        <script src="../../../Resources/Scripts/plugins.min.js">
        </script>
        <script src="../../../Resources/Scripts/require.min.js">
        </script>
        <script src="../../../Resources/Scripts/require.config.js">
        </script>
        <script src="../../../Resources/Scripts/MadCapAll.js">
        </script>
    </head>
    <body>
        <div id="main">
            <!-- This snippet sets the fixed nav bar that runs across the entire site. The links for the nav are in another snippet. -->
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        </button><a class="navbar-brand" href="#"> <img src="../Images/icon_mozu_red_m.png" style="margin-top: -9px;" /></a> <!-- Can change the href to a specific location, such as main Volusion Dev Center. --></div>
                    <div class="navbar-collapse collapse">
                        <!--  The list is a snippet with navigation using Volusion bootstrap. -->
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown" value="1"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Getting Started<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li value="1"><a href="#">Dev Center</a>
                                    </li>
                                    <li value="2"><a href="#">Guide 2</a>
                                    </li>
                                    <li value="3"><a href="#">Guide 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li value="2"><a href="#">App Dev</a>
                            </li>
                            <li value="3"><a href="#">Theme Dev</a>
                            </li>
                            <li value="4"><a href="#">Mozu API</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
                <!-- <div class="divide-nav" role="navigation">
                <div class="container"> <MadCap:breadcrumbsProxy /> </div>
            </div> -->
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-3" style="margin-top: 60px;">
                        <nav class="bs-docs-sidebar" id="myaffix" data-spy="affix" data-offset-top="75" data-offset-bottom="200">
                            <!--TOC Multipage -->
                            <div class="sidebar-heading"><a href="#" data-toggle="collapse" class="toggler active" data-target="#section1"><i class="icon-folder-open"></i><i class="icon-folder-close"></i>
				Section 1 Title</a>
                            </div>
                            <div id="section1" class="collapse in">
                                <ul class="nav nav-list">
                                    <li value="1"><a href="../Masterpages/topiclink">Topic1</a>
                                    </li>
                                    <li value="2"><a href="../Masterpages/topiclink">Topic2</a>
                                    </li>
                                    <li value="3"><a href="../Masterpages/topiclink">Topic3</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar-heading"><a href="#" data-toggle="collapse" class="toggler active" data-target="#section2"><i class="icon-folder-open"></i><i class="icon-folder-close"></i>Section 2 Title</a>
                            </div>
                            <div id="section2" class="collapse in">
                                <ul class="nav nav-list">
                                    <li value="1"><a href="../Masterpages/topiclink">Topic1</a>
                                    </li>
                                    <li value="2"><a href="../Masterpages/topiclink">Topic2</a>
                                    </li>
                                    <li value="3"><a href="../Masterpages/topiclink">Topic3</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-md-9">
                        <div class="landing-title">
                            <h1>Title of Entire Page</h1>
                        </div>
                        <p class="lead">Optional leader subtitle or intro sentence.</p>
                        <p>Normal paragraphs. Only use 1 heading 1 for the title. All other sections can be h2, h3, h4, etc to h6.</p>
                        <h2>Heading 2 title</h2>
                        <p>Some content.</p>
                        <h3>Heading 3</h3>
                        <p>Learn how to do awesome things. The following is a sample table.</p>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Step</th>
                                    <th>What to do</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>1
				</td>
                                <td>The first step.</td>
                            </tr>
                            <tr>
                                <td>2
				</td>
                                <td>Another step!</td>
                            </tr>
                            <tr>
                                <td>3
				</td>
                                <td>
					Do some stuff and click <b>Finish</b>.
				</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mozu Footer -->
        <footer class="footer">
            <div class="container">
                <div class="pull-left footer__logo"><a href="http://www.mozu.com" target="_blank"><img src="http://www.mozu.com/sites/all/themes/mozu_aurora/logo.png" style="padding-top: 7px;" /></a>
                </div>
                <div class="pull-right footer__icons" style="padding-right:40px;"><a href="https://twitter.com/MozuCommerce"><button type="button" class="btn btn-primary btn-lg"><i class="fa fa-twitter"></i></button></a><a href="http://developer.mozu.com/tools" target="_blank"><button type="button" class="btn btn-primary btn-lg"><i class="fa fa-code-fork"></i></button></a><a href="http://www.mozu.com/contact"><button type="button" class="btn btn-primary btn-lg"><i class="fa fa-comments-o"></i></button></a><a href="http://www.mozu.com/legal"><button type="button" class="btn btn-primary btn-lg"><i class="fa fa-copyright"></i></button></a>
                </div>
            </div>
        </footer>
        <!-- Required for Scrollspy/Affix/Bootstrap -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js">
        </script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/scrollspy.js">
        </script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/affix.js">
        </script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
        </script>
        <!-- Affix for TOC - DO NOT EDIT -->
        <script src="../Javascript/affix-dynamic.js">
        </script>
        <!-- Anchor Ease Script - DO NOT EDIT -->
        <script src="../Javascript/anchor-ease.js">
        </script>
        <!-- Back To Top Button - DO NOT EDIT -->
        <script src="../Javascript/back-to-top.js">
        </script>
        <!-- Scrollspy active link script -->
        <script>/* <![CDATA[ */

			$( document ).ready(function() {
			$('body').scrollspy({
			target: '.bs-docs-sidebar',
			offset: 20
			});
			}); 
		
		/* ]]> */</script>
        <!-- Affix for sidebar -->
        <script>/* <![CDATA[ */

			$('#myaffix').affix({
			offset: {
			top: 60
			, bottom: function () {
			return (this.bottom = $('.footer').outerHeight(true))
			}
			}
			})
		
		/* ]]> */</script>
        <!-- Toggler Script for expand/collapse sidebar -->
        <script>/* <![CDATA[ */
		$(document).ready(function(){

		$("#toggler").click(function(){
		$(this).toggleClass('active, inactive');
		})
		})
	/* ]]> */</script>
    </body>
</html>